<a href="https://colab.research.google.com/github/Raghavendarlokineni/colab-machine-learning/blob/develop/first_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
print("hello ishaan")

hello ishaan

In [7]:
for i in range(100):
  if i%5 == 0:
    print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [8]:
import numpy as np

a = np.array([1,2])
a = np.append(a,3)
print("current array {}".format(a))
print("printing elements")

for i in a:
  print(i)

print("printing elements and index")
for i,e in enumerate(a):
  print("index {} and element {}".format(i,e))

current array [1 2 3]
printing elements
1
2
3
printing elements and index
index 0 and element 1
index 1 and element 2
index 2 and element 3

In [9]:
ls -ltr sample_data/

total 55504
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md*
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json*
-rw-r--r-- 1 root root  1706430 May 13 16:29 california_housing_train.csv
-rw-r--r-- 1 root root   301141 May 13 16:29 california_housing_test.csv
-rw-r--r-- 1 root root 36523880 May 13 16:29 mnist_train_small.csv
-rw-r--r-- 1 root root 18289443 May 13 16:29 mnist_test.csv

In [10]:
from __future__ import print_function
import pandas as pd
pd.__version__

'1.0.3'

In [11]:
cityNames = pd.Series(["hyd", "bang", "Chen"])
population = pd.Series([1500000, 2500000, 1200000])

pd.DataFrame({"CityName" : cityNames, "Population" : population})

  CityName  Population
0      hyd     1500000
1     bang     2500000
2     Chen     1200000

In [12]:
california_housing_info = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
california_housing_info.describe()

          longitude      latitude  ...  median_income  median_house_value
count  17000.000000  17000.000000  ...   17000.000000        17000.000000
mean    -119.562108     35.625225  ...       3.883578       207300.912353
std        2.005166      2.137340  ...       1.908157       115983.764387
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.790000     33.930000  ...       2.566375       119400.000000
50%     -118.490000     34.250000  ...       3.544600       180400.000000
75%     -118.000000     37.720000  ...       4.767000       265000.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

In [13]:
california_housing_info.head(3)

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0

[3 rows x 9 columns]

In [14]:
california_housing_info.tail(3)

       longitude  latitude  ...  median_income  median_house_value
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[3 rows x 9 columns]

Accessing Data

In [15]:
cities = pd.DataFrame({"CityName" : cityNames, "Population" : population})
print(cities["CityName"])
print(cities["Population"][0])
print(type(cities["Population"][0:2]))

0     hyd
1    bang
2    Chen
Name: CityName, dtype: object
1500000
<class 'pandas.core.series.Series'>

In [16]:
population/10000

0    150.0
1    250.0
2    120.0
dtype: float64

**Importing Numpy**

In [17]:


import numpy as np
np.log(population)

0    14.220976
1    14.731801
2    13.997832
dtype: float64

**Logarithm** : is an innverse function of exponentiation

**numpy logarithm and exponential function**, by default it uses base e = 2.718281828459

In [22]:
print(np.log(10))
print(np.log(100))
print(np.log(10000))
np.exp(2.3025850)

2.302585092994046
4.605170185988092
9.210340371976184

9.999999070059587

In [0]:
import math
print(math.log(100, 10))