<a href="https://colab.research.google.com/github/Raghavendarlokineni/colab-machine-learning/blob/develop/first_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("hello ishaan")

hello ishaan

In [0]:
for i in range(100):
  if i%5 == 0:
    print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [0]:
import numpy as np

a = np.array([1,2])
a = np.append(a,3)
print("current array {}".format(a))
print("printing elements")

for i in a:
  print(i)

print("printing elements and index")
for i,e in enumerate(a):
  print("index {} and element {}".format(i,e))

current array [1 2 3]
printing elements
1
2
3
printing elements and index
index 0 and element 1
index 1 and element 2
index 2 and element 3

In [0]:
ls -ltr sample_data/

total 55504
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md*
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json*
-rw-r--r-- 1 root root 36523880 May  4 16:26 mnist_train_small.csv
-rw-r--r-- 1 root root 18289443 May  4 16:26 mnist_test.csv
-rw-r--r-- 1 root root  1706430 May  4 16:26 california_housing_train.csv
-rw-r--r-- 1 root root   301141 May  4 16:26 california_housing_test.csv

In [1]:
from __future__ import print_function
import pandas as pd
pd.__version__

'1.0.3'

In [2]:
cityNames = pd.Series(["hyd", "bang", "Chen"])
population = pd.Series(["1.5M", "2.5M", "1.2M"])

pd.DataFrame({"City Name" : cityNames, "Population" : population})

  City Name Population
0       hyd       1.5M
1      bang       2.5M
2      Chen       1.2M